*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
    font-family: sans-serif;
}

body {
    background-color: rgb(229, 240, 219);
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.logo h2 {
    color: chocolate;
    font-size: 32px;
}

nav ul {
    display: flex;
    gap: 35px;
}
